.header-logo {
    width: 135px;
}

.header-nav {
    justify-content: space-between;
    align-items: center;

}

.header-nav a {
    text-decoration: none;
}

.header-nav a:not(.header-nav a.btn) {

    color: var(--bs-black);
}